/* Display */
.hidden {
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* Positioning */
.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/* Margins, Padding, and Borders */
.m-1rem {
  margin: 1rem;
}

.p-1rem {
  padding: 1rem;
}

/* Typography */
.text-center {
  text-align: center;
}

.font-bold {
  font-weight: 700;
}

/* Sizing */
.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

/* Flexbox */
.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: start;
}

.items-end {
  align-items: end;
}

/* Flexbox */
.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Borders */
.rounded {
  border-radius: 0.5rem;
}

/* Shadows */
.shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* Text */
.text-sm {
  font-size: 0.875rem;
}
.text-md {
  font-size: 1.1rem;
}

.text-lg {
  font-size: 1.25rem;
}

.text-xl {
  font-size: 1.5rem;
}

.text-2xl {
  font-size: 2rem;
}

.text-3xl {
  font-size: 2.5rem;
}

.font-light {
  font-weight: lighter;
}

/* Positioning */
.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.inset-0 {
  inset: 0;
}
/* Cursor */
.cursor-pointer {
  cursor: pointer;
}

/* Overflow */
.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

/* Visibility */
.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.collapse {
  visibility: collapse;
}

/* Z-Index */
.z-10 {
  z-index: 10;
}

.z-5 {
  z-index: 5;
}

.z-4 {
  z-index: 4;
}

.z-3 {
  z-index: 3;
}

.z-2 {
  z-index: 2;
}

.z-1 {
  z-index: 1;
}

.z-0 {
  z-index: 0;
}

/* Object Fit */
.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}


.opacity-0 {
  opacity: 0%;
}

.opacity-25 {
  opacity: 25%;
}

.opacity-50 {
  opacity: 50%;
}

.opacity-75 {
  opacity: 75%;
}

.opacity-100 {
  opacity: 100%;
}

.box-border {
  box-sizing: border-box;
}

.gap-1rem {
  gap: 1rem;
}

.gap-2rem {
  gap: 2rem;
}

.gap-3rem {
  gap: 3rem;
}

.p-1rem {
  padding: 1rem;
}

.p-075rem {
  padding: 0.75rem;
}

.p-05rem {
  padding: 0.5rem;
}

.transition-all {
  transition: all;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
