/* Display */
.hidden {
  display: none !important;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.flex {
  display: flex !important;
}

.grid {
  display: grid !important;
}

/* Positioning */
.static {
  position: static !important;
}

.fixed {
  position: fixed !important;
}

.absolute {
  position: absolute !important;
}

.relative {
  position: relative !important;
}

/* Margins, Padding, and Borders */
.m-1rem {
  margin: 1rem !important;
}

.p-1rem {
  padding: 1rem !important;
}

/* Typography */
.text-center {
  text-align: center !important;
}

.font-bold {
  font-weight: 700 !important;
}

/* Sizing */
.w-full {
  width: 100% !important;
}

.h-full {
  height: 100% !important;
}

/* Flexbox */
.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-start {
  justify-content: start !important;
}

.justify-end {
  justify-content: end !important;
}

.items-center {
  align-items: center !important;
}

.items-start {
  align-items: start !important;
}

.items-end {
  align-items: end !important;
}

/* Flexbox */
.flex-row {
  flex-direction: row !important;
}

.flex-col {
  flex-direction: column !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

/* Borders */
.rounded {
  border-radius: 0.5rem !important;
}

/* Shadows */
.shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

/* Text */
.text-sm {
  font-size: 0.875rem !important;
}

.text-lg {
  font-size: 1.25rem !important;
}

.text-xl {
  font-size: 1.5rem !important;
}

.text-2xl {
  font-size: 2rem !important;
}

.text-3xl {
  font-size: 2.5rem !important;
}

.font-light {
  font-weight: lighter;
}

/* Positioning */
.top-0 {
  top: 0 !important;
}

.bottom-0 {
  bottom: 0 !important;
}
.left-0 {
  left: 0 !important;
}

.inset-0 {
  inset: 0;
}
/* Cursor */
.cursor-pointer {
  cursor: pointer !important;
}

/* Overflow */
.overflow-hidden {
  overflow: hidden !important;
}

.overflow-scroll {
  overflow: scroll !important;
}

/* Visibility */
.invisible {
  visibility: hidden !important;
}

.visible {
  visibility: visible !important;
}

/* Z-Index */
.z-10 {
  z-index: 10 !important;
}

.z-5 {
  z-index: 5 !important;
}

.z-4 {
  z-index: 4 !important;
}

.z-3 {
  z-index: 3 !important;
}

.z-2 {
  z-index: 2 !important;
}

.z-1 {
  z-index: 1 !important;
}

.z-0 {
  z-index: 0 !important;
}

/* Object Fit */
.object-cover {
  object-fit: cover !important;
}

.opacity-0 {
  opacity: 0%;
}

.opacity-25 {
  opacity: 25%;
}

.opacity-50 {
  opacity: 50%;
}

.opacity-75 {
  opacity: 75%;
}

.opacity-100 {
  opacity: 100%;
}

.box-border {
  box-sizing: border-box;
}

.gap-1rem {
  gap: 1rem !important;
}

.gap-2rem {
  gap: 2rem !important;
}

.gap-3rem {
  gap: 3rem !important;
}

.p-1rem {
  padding: 1rem !important;
}

.p-075rem {
  padding: 0.75rem !important;
}

.p-05rem {
  padding: 0.5rem !important;
}

.transition-all {
  transition: all;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
