.opacity-40 {
  opacity: 40%;
}
.screen {
  height: 100vh;
}
.p-2rem {
  padding: 2rem;
}
.mt-1rem {
  margin-top: 1rem;
}
.mt-2rem {
  margin-top: 2rem;
}

.mt-5rem {
  margin-top: 5rem;
}
.mb-15p {
  margin-bottom: 15%;
}
.flex-basis-15 {
  flex-basis: 35%;
}

.flex-basis-75 {
  flex-basis: 75%;
}
.h-15rem {
  min-height: 15rem;
  height: 40vh;
}

.gradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.gap-05rem {
  gap: 0.5rem;
}

.swiper {
  max-width: 20rem;
}

.transparent-glass-bg {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transition: all;
}

.transparent-glass-bg-2 {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1px);
  transition: all;
}

.w-90p {
  width: 90%;
}

.underline {
  border-bottom: 2px white solid;
  width: fit-content;
}

/* Base Styles */
.bg-white {
  background-color: #fff;
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.rounded {
  border-radius: 5px;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.block {
  display: block;
}

.text-gray-700 {
  color: #4a5568;
}

.text-sm {
  font-size: 0.875rem;
}

.font-bold {
  font-weight: 700;
}

.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.border {
  border-width: 1px;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.leading-tight {
  line-height: 1.25;
}

/* Button Styles */

.text-white {
  color: #fff;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.rounded {
  border-radius: 0.25rem;
}

input,
textarea {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.5);
  color: white;
  border-width: 2px !important;
  border-style: solid;
  width: 90%;
}

input::placeholder,
textarea::placeholder {
  color: wheat;
}

.button-group {
  display: flex;
  gap: 0.5rem;
}

button {
  padding: 1rem;
  width: 100%;
  font-weight: bold;
}

.call-button {
  width: 20%;
  padding: 1rem;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}