.opacity-40 {
    opacity: 40%;
  }
  .screen {
    height: 100vh;
  }
  .p-2rem {
    padding: 2rem;
  }
  .mt-1rem {
    margin-top: 1rem;
  }
  .mt-2rem {
    margin-top: 2rem;
  }
  
  .mt-5rem {
    margin-top: 5rem;
  }
  .mb-15p {
    margin-bottom: 15%;
  }
  .flex-basis-15 {
    flex-basis: 35%;
  }
  
  .flex-basis-75 {
    flex-basis: 75%;
  }
  .h-15rem {
    min-height: 19rem;
    height: 40vh;
  }
  select {
    padding: 5px;
    color: white;
    font-size: 16px;
    font-family: "Karla", sans-serif;
    padding: 1rem;
    border-radius: 5px;
    background: transparent;
    width: 100%;
    -webkit-appearance: none;
    border: 2px rgba(255, 255, 255, 0.5) solid;
  }
  
  .select-button {
    width: 4rem;
    height: 4rem;
    color: white;
    background: rgba(255, 255, 255, 0.35);
    border: none;
    border-radius: 5px;
  }
  .gradient {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      0deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .purchase-button,
  .info-button {
    width: 100%;
    border: none;
    background-color: rgba(245, 222, 179, 0.21);
    border-radius: 5px;
    padding: 0.75rem;
    font-family: "Karla";
    font-size: large;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  .gap-05rem {
    gap: 0.5rem;
  }
  
  .swiper {
    max-width: 350px;
  }
  
  .transparent-glass-bg {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    transition: all;
  }
  
  .transparent-glass-bg-2 {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1px);
    transition: all;
  }
  
  .w-85p {
    width: 90%;
  }
  
  .underline {
    border-bottom: 2px white solid;
    width: fit-content;
  }